@charset "UTF-8";
/* CSS Document */

input {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	border: solid 2px #CCC;
	padding: 4px 4px;
	margin-right: 6px;
}
/* Vanadium Styles */ 
div.vanadium-invalid {
  border-color: red !important;
  border-style: solid !important;
}
div.vanadium-valid {
  border-color: green !important;
  border-style: solid !important;
}
.vanadium-message-value {
  font-style: italic;
  text-decoration: underline;
}
.vanadium-advice.vanadium-invalid, .vanadium-advice.vanadium-invalid * {
  color: red;
}

input.vanadium-valid {
  border-color: greenyellow;
}
input.vanadium-invalid {
  border-color: pink;
}
#messages {
  height: 70px;
  padding: 0;
  border-color: yellow;
}
input.vanadium-valid ~ .vanadium-valid-advice {
  display: inline !important;
  color: green;
}
