


/*- Menu Tabs J--------------------------- */

    #tabsJ {
      float:left;
      width:100%;
      background:#F4F4F4;
      font-size:12px;
      line-height:normal;
      border-bottom:1px solid #24618E;
      }
    #tabsJ ul {
	margin:0;
	padding:0px 0px 0 10px;
	list-style:none;
      }
    #tabsJ li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsJ a {
      float:left;
      background:url("../img/tableftJ.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 5px;
      text-decoration:none;
      }
    #tabsJ a span {
      float:left;
      display:block;
      background:url("../img/tabrightJ.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#24618E;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsJ a span {float:none;}
    /* End IE5-Mac hack */
    #tabsJ a:hover span {
      color:#FFF;
      }
    #tabsJ a:hover {
      background-position:0% -42px;
      }
    #tabsJ a:hover span {
      background-position:100% -42px;
      }
/*- Menu Tabs J--------------------------- */




body {
	
	margin: 0px;
}

#MenuAplicacion { 
    margin-left: 0px;
    margin-top: 90px;
    }




p {
    font-size: 90%;
    margin-top: 1em;
    margin-bottom: 2em;
    color: #333;
  }


h1 {
    color: #0099CC;
    font-size: 1.6em;
  }

/* Form */

form {
    width: 580px;
    border: 2px solid #EEE;
    padding: 10px;
    margin: 40px auto;
    background-color:#ffffff;
  }


label {
    display: block;
    margin-top : 8px;
    width: 100%;
    background-repeat: no-repeat;
  }


img {
    border:0;
  }


.blue {
    color: #0099CC;
    font-weight: bold;
  }

/* footer */

.dwnld {
    Display: block;
    padding: 10px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    border: 1px solid #EEE;
    background-color: white;
    color: #999;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 50px;
    background: url(../images/download.gif) no-repeat 40px 10px;
  }

/* footer */

.footer {
    Display: block;
    padding: 10px;
    margin: 40px auto;
    width: 400px;
    text-align: center;
    border: 1px solid #EEE;
    background-color: white;
    color: #999;
  }


.footer p {
    color: #999;
  }

/* Congratulation message */

.MsgSent {
    Display: block;
    padding: 12px;
    margin: 40px auto;
    width: 400px;
    text-align: center;
    border: 1px solid #EEE;
    background-color: white;
  }


.MsgSent h1 {
    background: url(../images/MsgSent.gif) no-repeat 0 0;
    padding-left: 20px;
    height: 85px;
    line-height: 85px;
  }

/* Error message */

.MsgError {
    Display: block;
    padding: 12px;
    margin: 40px auto;
    width: 400px;
    text-align: center;
    border: 1px solid #EEE;
    background-color: white;
  }


.MsgError h1 {
    background: url(../images/MsgError.gif) no-repeat 0 0;
    padding-left: 20px;
    height: 85px;
    line-height: 85px;
    color: #CC0000;
  }


.MsgSent p, .MsgError p {
    font-size: 1.3em;
    color:#999;
  }


tr.a {
	background: url(tr_back.gif);
	background-color: #421400;
	height:20px;
	text-align: left;
	color: white;
	font-size: 12pt;
	
}

tr.top_tr {
	background: url(tr_back.gif);
	background-color: #24618E;
	height:20px;
	text-align: left;
	color: white;
	font-size: 12pt;
	font-weight: bold;
	
}

tr.b {
	background-color:#F0F8FF;
	height:20px;
	text-align: left;
	color: black;
	font-size: 10pt;
	
}


td.b {
	height:20px;
	background-color: #F8F8FF;
	color: black;
	
	text-align: left;
	font-size: 10pt;
}
td.a {
	height:20px;
	background-color: #eae6d0;
	color: white;
	font-weight: normal;
	text-align: left;

}

small.b {
	color: #000000;
	text-align: right;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight:normal;
}

small.a {
	color: #ffffff;
	text-align: right;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
	font-weight:normal;
}

input {
  width: 100px;
}
input.calendar {
  width: 74px;
}
button.calendar {
  background: url(calendar-icon.gif);
  border: 0;
  cursor: pointer;
  float: left;
  height: 20px;
  margin-right: 6px;
  width: 20px;
}
button.calendar:hover,
button.calendar.active {
  background-position: left bottom;
}

/* generalgpg */

.table, .td{
	font:100% Arial, Helvetica, sans-serif; 
}
.table{width:100%;border-collapse:collapse;margin:1em 0;}
.th, .td{text-align:left;padding:.5em;border:1px solid #000;}
.th{background:#fff url(tr_back.gif) repeat-x;color:#000;}
.td{background:#eae6d0;}

/* tablecloth styles */

.tr.even .td{background:#e5f1f4;}
.tr.odd .td{background:#f8fbfc;}

.th.over, .tr.even .th.over, .tr.odd .th.over{background:#4a98af;}
.th.down, .tr.even .th.down, .tr.odd th.down{background:#eae6d0;}
.th.selected, tr.even .th.selected, .tr.odd th.selected{}

.td.over, .tr.even .td.over, .tr.odd .td.over{background:#ecfbd4;}
.td.down, .tr.even .td.down, .tr.odd .td.down{background:#bce774;color:#fff;}
.td.selected, .tr.even .td.selected, .tr.odd .td.selected{background:#bce774;color:#555;}

/* use this if you want to apply different styleing to empty table cells*/
.td.empty, .tr.odd .td.empty, .tr.even .td.empty{background:#fff;}