/**
* IPB - A Mambo Backend Template
* @version 1.0
* @package IPB
* @copyright (C) 2005 by Juan Timaná
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
* Mambo is Free Software released under the terms of GNU/GPL License.
**/





/* header block */
table.adminheading {
	background-color: #FFF;
	font-family : Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	border-collapse: collapse;
	color: #3A4F6C;
	font-size : 18px;
	font-weight: bold;
	text-align: left;
}
table.adminheading th {
	width: 99%;
	height: 50px;
	padding-left: 50px;
	background: url(../images/asterisk.png) no-repeat left;
}
table.adminheading th.credits {
	background: url(../images/credits.png) no-repeat left;
}
table.adminheading th.checkin {
	background: url(../images/checkin.png) no-repeat left;
}
table.adminheading th.cpanel {
	background: url(../images/cpanel.png) no-repeat left;
}
table.adminheading th.config {
	background: url(../images/config.png) no-repeat left;
}
table.adminheading th.modules {
	background: url(../images/module.png) no-repeat left;
}
table.adminheading th.menus {
	background: url(../images/menu.png) no-repeat left;
}
table.adminheading th.trash {
	background: url(../images/trash.png) no-repeat left;
}
table.adminheading th.user {
	background: url(../images/user.png) no-repeat left;
}
table.adminheading th.inbox {
	background: url(../images/inbox.png) no-repeat left;
}
table.adminheading th.msgconfig {
	background: url(../images/message_config.png) no-repeat left;
}
table.adminheading th.langmanager {
	background: url(../images/langmanager.png) no-repeat left;
}
table.adminheading th.mediamanager {
	background: url(../images/mediamanager.png) no-repeat left;
}
table.adminheading th.impressions {
	background: url(../images/impressions.png) no-repeat left;
}
table.adminheading th.browser {
	background: url(../images/browser.png) no-repeat left;
}
table.adminheading th.searchtext {
	background: url(../images/searchtext.png) no-repeat left;
}
table.adminheading th.templates {
	background: url(../images/templatemanager.png) no-repeat left;
}
table.adminheading th.massemail {
	background: url(../images/massemail.png) no-repeat left;
}
table.adminheading th.frontpage {
	background: url(../images/frontpage.png) no-repeat left;
}
table.adminheading th.sections {
	background: url(../images/sections.png) no-repeat left;
}
table.adminheading th.edit {
	background: url(../images/addedit.png) no-repeat left;
}
table.adminheading th.categories {
	background: url(../images/categories.png) no-repeat left;
}
table.adminheading th.install {
	background: url(../images/install.png) no-repeat left;
}
table.adminheading th.dbbackup {
	background: url(../images/backup.png) no-repeat left;
}
table.adminheading th.dbrestore {
	background: url(../images/dbrestore.png) no-repeat left;
}
table.adminheading th.dbquery {
	background: url(../images/query.png) no-repeat left;
}
table.adminheading th.info {
	background: url(../images/systeminfo.png) no-repeat left;
}

table.adminheading td {
	color : #666;
}
/* standard list style table */
table.adminlist {
	background-color:#F5F9FD;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
}

table.adminlist th {
	margin: 0px;
	padding: 6px 4px 2px 4px;
	height: 26px;
	background: url(../images/background.gif);
	background-repeat: repeat;
	background-position: 0px -4px;
	font-size: 11px;
	color: #ffffff;
}
table.adminlist th.title {
	text-align: left;
}

table.adminlist th a {
	color: #000055;
}

table.adminlist tr.row0 {
	background-color:#EEF2F7;
}
table.adminlist tr.row1 {
	background-color:#F5F9FD;
}
table.adminlist td {
	border-bottom:1px solid #D1DCEB;
	border-right:1px solid #D1DCEB;
	border-top:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
	padding: 4px;
}
table.adminlist tr.row0:hover {
	background-color:#e9eff8;
}
table.adminlist tr.row1:hover {
	background-color:#e9eff8;
}
table.adminlist td.options {
	background-color: #ffffff;
	font-size: 8px;
}
select.options, input.options {
	font-size: 8px;
	font-weight: normal;
	border: 1px solid #999999;
}
/* standard form style table */
table.adminform {
	background-color: #F9F9F9;
	border: solid 1px #CFCFCF;
	width: 100%;
	padding: 10px;
	border-collapse: collapse;
}
table.adminform tr.row0 {
	background-color:#EEF2F7;
	border-bottom:1px solid #D1DCEB;
	border-right:1px solid #D1DCEB;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
}
table.adminform tr.row1 {
	background-color:#F5F9FD;
	border-bottom:1px solid #D1DCEB;
	border-right:1px solid #D1DCEB;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
}
table.adminform th {
	font-size: 11px;
	padding-top: 6px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: left;
	height: 20px;
	color: #3A4F6C;
	background: url(../images/tile_sub.gif);
	background-repeat: repeat;
}
table.adminform td {
	padding: 3px;
	text-align: left;
}
table.adminform td.editor {
	font-size: 9px;
}

table.cpanel td {
	text-align: center;
}

form {
	margin: 0px 0px 0px 0px;
}
/* Styles for dhtml tabbed-pages */
.ontab {
	font-size: 12px;
	background-color: #F5F9FD;
	border: 1px solid #D1DCEB;
	width: 14%;
	text-align: center;
	cursor: hand;
	font-weight: bold;
	color: #000055;
}
.offtab {
	font-size: 12px;
	background-color : #EEF2F7;
	border: 1px solid #D1DCEB;
	width: 14%;
	text-align: center;
	cursor: hand;
	font-weight: normal;
}
.tabpadding {
	/*border-bottom: solid 1px #D5D5D5;*/
}
.tabheading {
	background-color: #FFAE00;
	color: #FFF;
	font-size: 10px;
	text-align: left;
}
.pagetext {
	visibility: hidden;
	display: none;
	position: relative;
	top: 0;
}
.menubackgr {
	background: #F9F9F9;
	border-bottom: 1px solid #cccccc;

}
.menudottedline {
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #ffffff;
	background-color: #FAFAFA;
}
.pathway {
	border: 1px solid #D7D7D7;
	background-color: #FFF;
	padding: 2px;
	width: 95%;
	margin: 3px;
}
.adminheader {
	color : #FF9900;
	font-size : 24px;
}
/* Text passed with mosmsg url parameter */
.message {
	font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 14px;
	color : #FF9900;
	text-align: center;
}
.main {
	border: 1px solid #d5d5d5;
	width: 98%;
}
.quote {
	margin: 4px;
	border: 1px solid #cccccc;
	background-color: #E9ECEF;
	padding: 10px;
	font-size: 12px;
	color: #254D78;
}

/* mod_quickicon */

#cpanel {  text-align: center;  vertical-align: middle; }

#cpanel div.icon   { margin: 3px; }
#cpanel div.icon a { 
	display: block; float: left;
	height: 97px !important;
	height: 100px; 
	width: 108px !important;
	width: 110px; 
	vertical-align: middle; 
	text-decoration : none;
	border: 1px solid #DDD;
	padding: 2px 5px 1px 5px;
}

#cpanel div.icon a:link    {  color : #808080;  }
#cpanel div.icon a:hover   { 
	color : #333; 
	background-color: #e8e6f1;  /*f1e8e6*/
	border: 1px solid #547bba;/*#c24733  81b1f1*/
	padding: 3px 4px 0px 6px; 
}
#cpanel div.icon a:active  {  color : #808080;  }
#cpanel div.icon a:visited {  color : #808080;  }

#cpanel div.icon img { margin-top: 13px; }
#cpanel div.icon span { display: block; padding-top: 3px;}