.sliderwrapper{
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
/*border: 10px solid navy;
border-bottom-width: 6px;*/
width: 700px; /*width of featured content slider*/
height: 170px;
}



.sliderwrapper .contentdiv{
visibility: hidden; /*leave as is*/
position: absolute; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/
/*padding: 5px;*/
background: white;
width: 700px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
/*height: 100%;*/
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

.pagination{
width: 25px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
height:170px;
text-align: center;
padding-top:3px;
}

.pagination a{
background-color: #666666;
clear:both;
display: block;
}

.pagination a:hover, .pagination a.selected{
background-color: #B50000;
clear:both;
display: block;
}