body{
	
	scrollbar-face-color: #B30000;
	scrollbar-shadow-color: #B30000;
	scrollbar-highlight-color: #B30000;
	scrollbar-3dlight-color: #B30000;
	scrollbar-darkshadow-color: #B30000;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF; 

}
.link_10:link, .link_10:visited
	{
		font-family: Verdana, Helvetica, Arial, sans-serif;
		color:999999;
		font-size: 10px;
		font-weight:bold;
		padding:2px 12px;
		text-decoration:none
	}
	
.link_10:hover
	{	
		font-family: Verdana, Helvetica, Arial, sans-serif;
		color:666666;
		font-size: 10px;
		font-weight:bold;
		padding:2px 12px;
		text-decoration:underline;
	}
.vinculo_mas:link, .vinculo_mas:visited {
	color:red; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px;
	font-weight: bold;
	line-height:12px;
	vertical-align:top;
	}
.vinculo_mas:hover {
	color:darkred; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px;
	background-color:#DADADA;
	font-weight: bold;
	line-height:12px;
	vertical-align:top;
	}
/*
a:link, a:visited {
	color:#666666; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px;
	font-weight: bold;
	}
a:hover {
	color:#B30000; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px;
	font-weight: bold;
	}
*/
.vinculo_tit:link, .vinculo_tit:visited {
	color:#B30000;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:13px;
	font-weight: bold;
	text-decoration:none;
	}
.vinculo_tit:hover {
	color:#666666; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:13px;
	font-weight: bold;
	}
	
.titulo_rojo_big
	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#B30000;
	text-transform:uppercase;
	}

.titulo_rojo_big_a
	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#B30000;
	text-transform:uppercase;
	background-color: #FFFFFF;
	margin-right:8px;
	}
	
.titulo_rojo_nor
	{
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#B30000;
	}
	
.fecha1
	{
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#828282;
	padding:2px;
	border-bottom:2px solid #CCCCCC;
	width:68px;
	}
	
.titulo_rojo_link:link, .titulo_rojo_link:visited
	{
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#B30000;
	text-decoration:none;
	}
	
.titulo_rojo_link:hover
	{
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666666;
	}
.titulo_rojo_14
	{
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#B30000;
	text-decoration:none;
	}
	
.titulo_rojo_12
	{
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#B30000;
	}

.texto_normal{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#4D4D4D;
	vertical-align:top;
	line-height:12px;
	}
	
.texto_normal_12{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4D4D4D;
	}
	
.texto_bold
	{
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#4D4D4D;
	}
	

.vinculo_peq:link, .vinculo_peq:visited
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#4D4D4D;
	text-decoration:none;
	}
	
.vinculo_peq:hover
	{
	text-decoration:none;
	color:#B30000;
	}
.cajas_form {
	border:1px solid #B30000;
	margin-top:2px;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666666;
	width:130px;
	width/* */:/**/130px;
	width: /**/130px;
}
.cajas_form2 {
	border:1px solid #B30000;
	margin-top:2px;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666666;
}
.botones_form {
	background:#CCCCCC;
	font:Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	border:0px;
}
.popup_bg {
	background:url(/images/bg_popup.jpg) no-repeat;
	vertical-align:top;
	text-align:left;
	padding-left:15px;
	padding-top:15px;
}
