.glossymenu{
padding: 0;
width: 170px; /*width of menu*/
/*border: 1px solid #9A9A9A;
margin: 5px 0;*/
text-align:right;
}

.glossymenu a.menuitem{
/*background: black url(../imagenes/glossyback.gif) repeat-x bottom left;*/
	font: bold 11px Verdana, Helvetica, sans-serif;
	color: #666666;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	margin-top: 0px;
	padding:2px 12px;
	.padding:2px 18px;
	text-align:right;
	text-decoration: none;
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color: #666666;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 5px;
right: 5px;
border: none;
}

.glossymenu a.menuitem:hover{
	background-image:url(../img/bullet.PNG);
	background-repeat:no-repeat;
	background-position:right;
}


/* Estilos para los submenus*/


.glossymenu div.submenu{ /*DIV that contains each sub menu*/
/*background: white;*/
		text-align:right;
		margin-right:3px;
		border-right: 3px solid #666666;		
		padding:2px 10px;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}

.glossymenu div.submenu ul li{
border-bottom: 0px solid blue;
}

.glossymenu div.submenu ul li a{
display: block;
font: normal 11px Verdana, Helvetica, sans-serif;
color: #333333;
text-decoration: none;
text-align:right;
padding-right: 10px;
margin-right:-11px;
}

.glossymenu div.submenu ul li a:hover{
font: normal 11px Verdana, Helvetica, sans-serif;
text-align:right;
border-right: 3px solid #B70F0F;
color: #B70F0F;
padding-right: 9px;
margin-right:-13px;
}

.glossymenu div.submenu ul li a:visited{
font: normal 11px Verdana, Helvetica, sans-serif;
text-align:right;
border-right: 3px solid #666666;
color: #333333;
padding-right: 9px;
margin-right:-13px;
}
