.dock {
   position:static;
   margin-top:10px;
   height:100%;
   width:100%;
   overflow:none;
   padding:0px 0px 0px 0px;
}
.undock {
   position:absolute;
   left:50%;
   top:85px;
   padding-top:18px;
   height:700px;
   width:1000px;
   margin-left:-520px;
   overflow:auto;
   background:white;
   border:3px solid #cccccc;
   padding-left:4px;
   padding-right:4px;
}


.undock #box-link {
   background:url(../../imagenes/minimice.png);
   float:right;
   top: -16px;
   right:3px;
}
.dock #box-link {
   background:url(../../imagenes/maximize.png);
   float:right;
   top: -14px;
   right: -1px;
}
#box-link { 
   position: relative;
   width: 15px;
   height: 15px;
   background-color: transparent;
   border: 0px none;
}
.mensaje_personal{
   color:red;
   display:block;
   position:relative;
   float:none;
   margin-left:2px;
   clear:right;
}
.marcofoto{
   height:70px;
   width:70px;
   float:right;
   display:inline;
   position:relative;
   margin-top:29px;
   margin-right:0px;
   border:1px dotted gray;
}
.enlaceblanco {
   cursor:pointer;
   cursor:hand;
}

.loading-circle {
   background:url(../../imagenes/circulo-cargar.gif) no-repeat top center;
   display:inline-block;
   position:static;
   float:right;
   height:16px;
   width:16px;
}

textarea.observacion{
  min-width:525px;
  min-height:120px;
  width: 530px;
  height:120px;
  resize:vertical;
  margin:5px 10px 5px 5px;
  border:2px solid #cccccc;
  
}

.botonimagen {
   padding:2px;
}

.botonimagen:hover {
   padding:1px;
   border-bottom:gray solid 1px;
   border-right:gray solid 1px;
   border-left:lightgray solid 1px;
   border-top:lightgray solid 1px;
   cursor:pointer;
}

div#Main-externo {
   border-style: none;
   margin: 0 auto;
   text-align: left;
   width: 1000px;
   float:left;
   position:absolute;
   left:50%;
   margin-left:-500px;
}

.titulo-fecha {
   margin:3px 5px 3px 0px;
   float: right;
   display:table-cell;
}
.titulo-usuario {
   margin: 3px 0px 3px 5px;
   float:left;
   display:table-cell;
}
.subtitulo {
   height:20px;
   padding-left:10px;
   padding-right:10px;
   padding-top:4px;
   padding-bottom:1px;
   display:block;
   width:960px;
   min-height:12px;
   background:#F2F2F2;
   border-top:#c60303 solid thin;
}

body {
   margin-bottom: 2px;
   margin-left: 4px;
   margin-right: 4px;
   margin-top: 2px;
   font: 11px Arial, Helvetica, sans-serif;
}

h1 {
   font: 12px Arial, Helvetica, sans-serif;
   color: #CC0000/*#666666*//*#3B5984*/;
   font-weight: bold;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 0px;
}

h2 {
   font: 13px Arial, Helvetica, sans-serif;
   color: #333/*#009*/;
   margin-bottom: 4px;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 4px;
}

h3 {
   font: 14px Arial, Helvetica, sans-serif;
   color: #333/*#009*/;
   margin-bottom: 4px;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 4px;
}

h4 {
   font: 15px Arial, Helvetica, sans-serif;
   color: #333/*#009*/;
   margin-bottom: 4px;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 4px;
}

p {
   font: 12px Arial, Helvetica, sans-serif;
   color: #666;
   margin-bottom: 2px;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 2px;
   clear: both;
}

p.botonrol {
   cursor: pointer;
}

.menu_body {
   display: none;
}

.titulomodulo,
.tituloindex{
   font: 12px Arial, Helvetica, sans-serif;
   background: #F2F2F2;
   color: #666666 /*#3B5984*/;
   font-weight: bold;
   padding-bottom: 6px;
   padding-left: 6px;
   padding-right: 6px;
   padding-top: 6px;
}

.titulosubmodulo {
   font: 12px Arial, Helvetica, sans-serif;
   background: #F2F2F2;
   color: #CC0000 /*#666666 */;
   font-weight: bold;
   padding-bottom: 3px;
   padding-left: 6px;
   padding-right: 6px;
   padding-top: 0px;
   text-align: center;
}

.titulomodulo2 {
   font: 12px Arial, Helvetica, sans-serif;
   background: #F2F2F2;
   color: #666666/*#3B5984*/;
   font-weight: bold;
   padding-bottom: 6px;
   padding-left: 6px;
   padding-right: 6px;
   padding-top: 6px;
}
.titulomodulo h1
{
   font: 16px Arial, Helvetica, sans-serif;
   font-weight: bold;
}

.tituloindex h1
{
   font: 16px Arial, Helvetica, sans-serif;
   font-weight: bold;
   text-align:left;
}

.error {
   font-weight: bold;
   text-align: center;
   color: #600;
}

.error ul {
   list-style: none;
}

input {
   font: 12px Arial, Helvetica, sans-serif;
   color: #333;
   padding-bottom: 4px;
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 4px;

}

input.texto {
   min-width: 200px;
   border-bottom: 1px solid #999;
   border-left: 1px solid #999;
   border-right: 1px solid #999;
   border-top: 1px solid #999;
   display:inline;
   _height:26px;
   *height:26px;
   /* background: url(/STDC/resources/imagenes/textoBg.gif) repeat-x scroll left bottom; */
}
input.textofecha {
   min-width: 80px;
   border-bottom: 1px solid #999;
   border-left: 1px none #999;
   border-right: 1px none #999;
   border-top: 1px none #999;
   /* background: url(/STDC/resources/imagenes/textoBg.gif) repeat-x scroll left bottom; */
}
input.textofecha_avanzado {
   min-width: 70px;
   border-bottom: 1px solid #999;
   border-left: 1px solid #999;
   border-right: 1px solid #999;
   border-top: 1px solid #999;
}
td span img {
   display:inline;
   margin-left:5px;
   margin-top:-3px;
   vertical-align: middle;
   height: 16px;
   width:16px;
}
input.texto:hover {
   min-width: 200px;
   border-bottom: 1px solid #999;
   border-left: 1px solid #999;
   border-right: 1px solid #999;
   border-top: 1px solid #999;
   background-color: #F2F2F2;
}

input.texto_readonly,
input.texto_readonly[readonly],
input.texto_readonly[readonly="readonly"]
{
   min-width: 200px;
   border-bottom: 1px solid #CCC;
   border-left: 1px solid #CCC;
   border-right: 1px solid #CCC;
   border-top: 1px solid #CCC;
   background-color:#DDE1E6 !important;
}

input.texto_min {
   border-bottom: 1px solid #999;
   border-left: 1px solid #999;
   border-right: 1px solid #999;
   border-top: 1px solid #999;
   display:inline;
   _height:26px;
   *height:26px;

   /* background: url(/STDC/resources/imagenes/textoBg.gif) repeat-x scroll left bottom; */
}

input.texto_min:hover {
   border-bottom: 1px solid #999;
   border-left: 1px solid #999;
   border-right: 1px solid #999;
   border-top: 1px solid #999;
   background: #F2F2F2;
}

input.error {
   border-bottom: 1px solid #900;
   border-left: 1px solid #900;
   border-right: 1px solid #900;
   border-top: 1px solid #900;
   min-width: 200px;
}

.titulo-fecha, .titulo-usuario {
   font: 11px Arial, Helvetica, sans-serif;
   color: #666666/*#3B5984*/;
}

.etiqueta  {
   font: 12px Arial, Helvetica, sans-serif;
   color: #666666/*#3B5984*/;
   padding-bottom: 6px;
   padding-top: 6px;
}

.etiquetaindex  {
   font: 12px Arial, Helvetica, sans-serif;
   color: #666666/*#3B5984*/;
   padding-left:2px;
   padding-top:5px;
   padding-bottom:5px;
   text-align:left;
}

.etiquetaConsulta {
   font: 13px Arial, Helvetica, sans-serif;
   color: #666666/*#3B5984*/;
   padding-bottom: 6px;
   padding-top: 6px;
}

.textomodulo {
   padding-bottom: 6px;
   padding-left: 6px;
   padding-right: 6px;
   padding-top: 6px;
}

a {
   font: 11px Arial, Helvetica, sans-serif;
   text-decoration: none;
   font-weight: bold;
}

input.boton {
   text-align: center;
   width: 100px;
   background: #F2F2F2;
   color: #333;
   border-bottom: 1px solid #CCC;
   border-left: 1px solid #CCC;
   border-right: 1px solid #CCC;
   border-top: 1px solid #CCC;
}
input.boton_min {
   text-align: center;
   background: #F2F2F2;
   color: #333;
   border-bottom: 1px solid #CCC;
   border-left: 1px solid #CCC;
   border-right: 1px solid #CCC;
   border-top: 1px solid #CCC;
}


input.boton:hover,
input.boton_min:hover
{
   text-align: center;
   background: #F2F2F2;
   color: #000;
   cursor: pointer;
}

input.boton:link,
input.boton_min:link
{
   text-align: center;
   background: #999;
   color: #000;
   cursor: pointer;
}

input.boton:disabled,
input.boton_min:disabled
{
   color: #999;
   cursor:default;
}

select {
   font: 12px Arial, Helvetica, sans-serif;
   color: #333;
   border-bottom: 1px solid #999;
   border-left: 1px solid #999;
   border-right: 1px solid #999;
   border-top: 1px solid #999;
   padding-bottom: 4px;
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 4px;
   width: 210px;
   height: 27px;
}

textarea {
   font: 12px Arial, Helvetica, sans-serif;
   color: #333;
   border-bottom: 1px solid #999;
   border-left: 1px solid #999;
   border-right: 1px solid #999;
   border-top: 1px solid #999;
   padding-bottom: 4px;
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 4px;
   min-width: 655px;
   min-height: 100px;
}

.modulo {
   background: #FFF;
   width: 980px;
   min-height: 200px;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 0px;
}

.imagengobierno {
   padding-bottom: 4px;
}

.imagenlogo {
   padding-bottom: 4px;
}

.pagina_index {
   left:50%;
   top:20px;
   width:980px;
   margin-left:-490px;
   position:absolute;
}
.encabezado{    
   padding:3px 0px 3px 0px;
   display:block;
   width:980px;
   height:20px;
   background-color:#F2F2F2;
   border-top:#c60303 solid thin;
   clear:both;
}
.cuerpo {
   font: 11px Arial, Helvetica, sans-serif;
   margin: 0px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   color: #8A8A8A;
   width:980px;
   height:385px;
   display:inline-block;
   clear:both;
   white-space: nowrap;
}

.etiqueta_index {
   font: 11px Arial, Helvetica, sans-serif;
   margin-left:5px;
}
.pie {
   margin: 0px;
   padding:5px 0px 5px 0px;
   border-top: 1px none;
   border-bottom:1px solid #c60303;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   color: #8A8A8A;
   width:980px;
   display:block;
   clear:both;
}

.pie2{
   padding:5px 0px 5px 0px;
   font-family: Verdana, Helvetica, Arial, sans-serif;
   font-size: 10px;
   color:#666666;
   text-align:center;
   width:980px;
   clear:both;
   display:block;
}

.ayuda {
   font: 11px Arial, Helvetica, sans-serif;
   padding-top: 3px;
   color: #8A8A8A;
   text-align: left;
}

.contenido {
   padding: 5px 0px 5px 0px;
   border-bottom: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-top: 1px solid #ccc;
   margin-bottom: 0px;
   width:980px;
   float:left;
   display:inline;
}

.top_contenido {
   font: 11px Arial, Helvetica, sans-serif;
   background: #3C5985;
   color: #fff;
   font-weight:bold;
   border-bottom: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-top: 1px solid #ccc;
   text-align: right;
   padding-right: 4px;
}
.izquierda {
   display:inline-block ;
   padding: 4px 4px 0px 14px;
   border-bottom: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-top: 1px solid #ccc;
   margin-bottom: 4px;
   margin-left: 10px;
   margin-right: 4px;
   margin-top: 4px;
   width: 250px;
   height:375px;
   float: left;
   position:block;
}

.centro {
   display:inline-block;
   padding: 4px 4px 0px 4px;
   border-bottom: 1px solid #ccc;
   border-left: 1px solid #ccc;;
   border-right: 1px solid #ccc;
   border-top: 1px solid #ccc;
   margin-top:4px;
   margin-bottom: 4px;
   margin-left: 10px;
   margin-right: 4px;
   width: 670px;
   height:375px;
   float: left;
   position:block;
}

.izquierdaplantilla {
   display:inline-block;
   padding: 4px 4px 4px 4px;
   border-bottom: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-top: 1px solid #ccc;
   margin-bottom: 4px;
   margin-left: 5px;
   margin-right: 4px;
   margin-top: 4px;
   width: 200px;
   min-height: 460px;
   height:100%;
   float: left;
}

.centroplantilla {
   display:inline-block;
   padding: 5px 5px 5px 5px;
   border-bottom: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-top: 1px solid #ccc;
   margin-bottom: 4px;
   margin-left: 4px;
   margin-right: 4px;
   margin-top: 4px;
   width: 738px;
   min-height: 460px;
   float: left;
}


/*Bloque de Acceso a la APP*/
.bienvenido {
   font: 11px Arial, Helvetica, sans-serif;
   color: #666;
   padding-left: 4px;
}

.nombredeusuario {
   font: 12px Arial, Helvetica, sans-serif;
   color: #666666/*#3B5984*/;
   padding-left: 4px;
   padding-bottom: 4px;
   padding-top: 4px;
   font-weight: bold;
   text-transform: uppercase;
}

.titulomenu {
   font: 11px Arial, Helvetica, sans-serif;
   color: #FFF;
   background:#666666;
   padding-left: 4px;
   padding-bottom: 4px;
   padding-top: 4px;
   padding-right: 4px;
   margin-top: 4px;
   /*border-bottom: 1px solid #3B5984;*/
   border-bottom: 1px solid #666666;
   border-left: 1px solid #666666;
   border-right: 1px solid #666666;
   border-top: 1px solid #666666;
}

.botonrol {
   font: 11px Arial, Helvetica, sans-serif;
   color: #333;
   font-weight: 400;
   background: #F2F2F2;
   padding-left: 8px;
   padding-bottom: 4px;
   padding-top: 4px;
   padding-right: 4px;
   margin-top: 4px;
}

.botonrol:hover {
   font: 11px Arial, Helvetica, sans-serif;
   color: #333;
   font-weight: 400;
   background: #E6E6E6;
   padding-left: 8px;
   padding-bottom: 4px;
   padding-top: 4px;
   padding-right: 4px;
   margin-top: 4px;
   text-decoration: none;
}
.botonrol_selected {
   font: 11px Arial, Helvetica, sans-serif;
   color:white;
   font-weight: 400;
   background:#999;
   padding-left: 8px;
   padding-bottom: 4px;
   padding-top: 4px;
   padding-right: 4px;
   margin-top: 4px;
   text-decoration: none;
}

.botonfunciones {
   font: 11px Arial, Helvetica, sans-serif;
   color: #333;
   font-weight: 400;
   background: #fff;
   padding-left: 16px;
   padding-bottom: 4px;
   padding-top: 4px;
   padding-right: 4px;
   margin-top: 4px;
}

.botonfunciones a {
   font: 11px Arial, Helvetica, sans-serif;
   color: #333;
   font-weight: 400;
   text-decoration: none;
}

.botonfunciones a:hover {
   font: 11px Arial, Helvetica, sans-serif;
   color: #333;
   font-weight: 400;
   text-decoration: underline;
}

.botonfunciones:hover {
   font: 11px Arial, Helvetica, sans-serif;
   color: #333;
   font-weight: 400;
   background: #F2F2F2;
   padding-left: 18px;
   padding-bottom: 4px;
   padding-top: 4px;
   padding-right: 4px;
   margin-top: 4px;
   text-decoration: none;
}

.botonts {
   margin-left: 10px;
   margin-top: 10px;
   width: 220px;
   height: 60px;
   color: #666;
   font: 12px Arial, Helvetica, sans-serif;
   background-image: url(/STDC/resources/imagenes/fondots.png);
   background-repeat: repeat-x;
   padding-left: 4px;
   padding-bottom: 4px;
   padding-right: 4px;
   padding-top: 4px;
   border-bottom: 1px #ccc solid;
   border-left: 1px #ccc solid;
   border-right: 1px #ccc solid;
   border-top: 1px #ccc solid;
   float: left;
   cursor: pointer;
   text-decoration: none;
}

.des_botonts {
   margin-left: 10px;
   margin-top: 10px;
   width: 220px;
   height: 60px;
   color: #666;
   font: 12px Arial, Helvetica, sans-serif;
   background-image: url(/STDC/resources/imagenes/des_fondots.png);
   background-repeat: repeat-x;
   padding-left: 4px;
   padding-bottom: 4px;
   padding-right: 4px;
   padding-top: 4px;
   border-bottom: 1px #ccc solid;
   border-left: 1px #ccc solid;
   border-right: 1px #ccc solid;
   border-top: 1px #ccc solid;
   float: left;
   cursor: pointer;
   text-decoration: none;
}

.botonts:hover {
   background-image: url(/STDC/resources/imagenes/fondotss.png);
   background-repeat: repeat-x;
}

.des_botonts:hover {
   background-image: url(/STDC/resources/imagenes/des_fondotss.png);
   background-repeat: repeat-x;
}

.imagents {
   float: left;
   margin-top: 2px;
   border-bottom: 0px solid;
   border-left: 0px solid;
   border-top: 0px solid;
   border-right: 0px solid;
}

.textobotonts {
   margin-left: 8px;
   margin-top: 8px;
   float: left;
   width: 110px;
   font: 11px Arial, Helvetica, sans-serif;
   font-weight: bold;
   text-align: left;
   color: #333;
}

.resultado_ausencia {
   border: 1px dotted red;
   font:12px Arial, Helvetica, sans-serif;
   color:gray;
   margin-left:5px;
   margin-right:5px;
   padding-bottom: 4px;
   padding-left: 6px;
   padding-right: 6px;
   padding-top: 4px;
}

.resultado,
.resultado_asignacion, 
.resultado_cartelera,
.resultado_planificacion {
   overflow:auto;
   height:640px; /*460px*/
   /*height:85%; */
}
.tablaprogramacion {
   width: 1000px;
   border: 1px solid #fff;
   border-collapse: collapse;
   color: #000;
   font: 12px Arial, Helvetica, sans-serif;
   margin-top: 4px;
}
.tabla {
   width: 100%;
   border: 1px solid #fff;
   border-collapse: collapse;
   color: #000;
   font: 12px Arial, Helvetica, sans-serif;
   margin-top: 4px;
}

.tabla th  {
   background-color:#999;
   color:#FFF;
   font-family:Arial, sans-serif;
   font-size:12px;
   font-weight:bold;
   /*    font: 13px Arial, Helvetica, sans-serif;
       background: #3c5985;
       color: #fff;
   text-align:;*/
   padding-left: 6px;
   padding-bottom: 6px;
   padding-right: 6px;
   padding-top: 6px;
}

.tablaprogramacion th  {
   background-color:#999;
   color:#FFF;
   font-family:Arial, sans-serif;
   font-size:12px;
   font-weight:bold;

   /*    font: 13px Arial, Helvetica, sans-serif;
       background: #3c5985;
       color: #fff;*/

   text-align:center;
   padding-left: 6px;
   padding-bottom: 6px;
   padding-right: 6px;
   padding-top: 6px;
}

.tabla tr,.tablaprogramacion tr {
   background: #f9fcff;
}


.tabla tr:hover,
.tablaprogramacion tr:hover {
   border-bottom: 1px solid #fff;
   border-top: 1px solid #fff;
   /*background: #c1ddff;*/
   background:#E6E6E6 ;

}
/********** Cuadros Inamovibles **********/
.tablaprogramacion tr.inamovible,
.tablaprogramacion tr.inamovible:hover
{   border-collapse: collapse;
    background: #EEE;
    border: 2px dotted white;    
    padding: 6px 6px 6px 6px;
    background-clip: padding-box;
}

tr.inamovibletitulo, 
tr.inamovibletitulo:hover
{   
   border-collapse: collapse;
   background: #EEE;
   border: 2px dotted white;
   font: 12px Arial, Helvetica, sans-serif;
   color: #3B5984;
   padding: 6px 6px 6px 6px ;
   background-clip: padding-box;
} 

.tablaprogramacion td.inamovibleblanco {
   border-collapse: collapse;
   border:none;
   background:white;
   color:white;
}

/*.tablaprogramacion tr.inamovibledetalle:hover,
.tablaprogramacion tr.inamovibledetalle,
.tablaprogramacion tr.inamovibledetalle td , 
.tablaprogramacion tr td.inamovibledetalle {
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    background:#999 ;
    color:white ;
    height:8px;
}*/

.tabla tr.selected {
   background:#f0eeee;
}
.tabla tr.selected:hover {
   border-bottom: 1px dotted #fff;
   border-top: 1px dotted #fff;
   background:#c60303;
   color:#ffffff;
   font-weight: normal;
}
.tabla td,
.tablaprogramacion td {
   border-right: 1px dotted #fff;
   border-bottom: 2px dotted #fff;
   padding-left: 8px;
   padding-bottom: 8px;
   padding-right: 8px;
   padding-top: 8px;

}

.tabla td a ,
.tablaprogramacion td a,
.tablaprogramacion tbody td a{
   color: #3B5984;
   text-decoration: none;
}

.tabla td a:hover, 
.tablaprogramacion td a:hover,
.tablaprogramacion tbody td a:hover{
   color: #3B5984;
   text-decoration: underline;
}

/* estilo para las consultas que utilicen tablas que no sean reportes */

.tablaconsulta th {
   font: 11px Arial, Helvetica, sans-serif;
   background: #c1ddff;
   color: #fff;
   padding-left: 6px;
   padding-bottom: 6px;
   padding-right: 6px;
   padding-top: 6px;
}

.resaltarDJ
{
   color: #600;
}

.tablaconsulta tr {

}

.tablaconsulta tr:hover {
   border-bottom: 1px dotted #fff;
   border-top: 1px dotted #fff;
}

.tablaconsulta td {
   border-right: 1px dotted #fff;
   border-bottom: 2px dotted #fff;
   padding-left: 8px;
   padding-bottom: 8px;
   padding-right: 8px;
   padding-top: 8px;
   text-align: left;
   font: 12px Arial, Helvetica, sans-serif;
}

.tablaconsulta td a {
   color: #3B5984;
   text-decoration: none;
}

.tablaconsulta td a:hover {
   color: #3B5984;
   text-decoration: underline;
}

/* fin de tablas de consultas*/

.mensajeVacio {
   color: #666;
   font: 13px Arial, Helvetica, sans-serif;
   text-align: center;
   padding-left: 4px;
   padding-bottom: 8px;
   padding-right: 4px;
   padding-top: 8px;
}

/**  Para las Validaciones  **/
.dijit
{

}
.dijitTooltipContainer {
   -moz-background-clip: border;
   -moz-background-inline-policy: continuous;
   -moz-background-origin: padding;
   background: url(/STDC/resources/imagenes/popupMenuBg.jpg) repeat-x 	scroll left bottom;
   border: 1px solid #000;
   padding: 0.45em;
   width: 120px;
   color: red;
   font: 11px Arial, Helvetica, sans-serif;
   margin-left: 2px;
   margin-top: 4px;
}

.dijitReset {
   font: 12px Arial, Helvetica, sans-serif;
   color: #333;
   background: url(/STDC/resources/imagenes/textoBg.gif) repeat-x scroll	left bottom;
   border-bottom: 1px #999999 solid;
   border-left: 1px #999999 solid;
   border-right: 1px #999999 solid;
   border-top: 1px #999999 solid;
   height: 20px;
   width: 208px;
}

.dijitReset  .dijitReset {
   font: 12px Arial, Helvetica, sans-serif;
   color: #333;
   border-bottom: 0px #ccc solid;
   border-left: 0px #ccc solid;
   border-right: 0px #ccc solid;
   border-top: 0px #ccc solid;
   height: 15px;
   width: 200px;
   margin-bottom: 0px;
   margin-left: 2px;
   margin-right: 0px;
   margin-top: -6px;
   background: none;
}

.dijitSpinner input {

}

.dijitReset:hover {
   background: #F2F2F2;
}

.dijitInputField {
   color: #333;
   float: left;
}

.dijitTextBox,.dijitComboBox,.dijitSpinner,.dijitInlineEditor input {
   -moz-background-clip: border;
   -moz-background-inline-policy: continuous;
   -moz-background-origin: padding;
   background: #FFFFFF url(/STDC/resources/imagenes/textoBg.gif) repeat-x scroll left top;
   border: 1px solid #B3B3B3;
   line-height: normal;
}

.dijitError {
   border-color: #f3d118;
   background-color: #f9f7ba;
   background-image: none;
}

.dj_ie6  .dijitError INPUT {
   /* background-color: transparent on an <input> doesn't work on IE6 */
   background-color: #f9f7ba !important;
}

.dijitErrorFocused {
   background-color: #ff6;
   background-image: none;
}

.dj_ie6  .dijitErrorFocused INPUT {
   /* background-color: transparent on an <input> doesn't work on IE6 */
   background-color: #ff6 !important;
}

/* Validation errors  */
.dijitValidationIcon {
   /* prevent height change when widget goes from valid to invalid state */
   width: 16px;
   background: transparent url('/STDC/resources/imagenes/admin/error.png') no-repeat center	center;
}

/* Estilos para tablas de los formularios*/
.notaFormulario {
   font: 11px Arial, Helvetica, sans-serif;
}

.tablaformulario {
   width: 97%;
   color: #000;
   font: 11px Arial, Helvetica, sans-serif;
   margin-top: 8px;
   margin-bottom: 8px;
   margin-left: 12px;
}

.tablaformulario tr {

}

.tablaformulario tr:hover {

}

.tablaformulario tr td {
   margin-top: 2px;
   margin-bottom: 2px;
   font: 10px Arial, Helvetica, sans-serif;
}

.tablaformulario td a {
   color: #3B5984;
   text-decoration: none;
}

.tablaformulario td a:hover {
   color: #3B5984;
   text-decoration: underline;
}

.titulodivision {
   font: 12px Arial, Helvetica, sans-serif;
   background: #F2F2F2;
   color: #000;
   font-weight: bold;
   padding-bottom: 4px;
   padding-left: 6px;
   padding-right: 8px;
   padding-top: 4px;
   margin-top: 2px;
   margin-bottom: 2px;
}

.grupobotones {
   border-top: 1px #ccc solid;
   padding-bottom: 8px;
   padding-left: 15px;
   padding-right: 4px;
   padding-top: 8px;
   text-align: left
}


.grupobotones input.boton {
   width: 150px;
}

.montoefectivo {
   font: 12px Arial, Helvetica, sans-serif;
   border-bottom: 1px #ccc solid;
   border-left: 1px #ccc solid;
   border-right: 1px #ccc solid;
   border-top: 1px #ccc solid;
   width: 200px;
   padding-bottom: 4px;
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 4px;
   background: #F2F2F2;
   text-align: left;
   font-weight: bold;
}

#imagenCaptcha
{
   border-bottom: 1px #ccc solid;
   border-left: 1px #ccc solid;
   border-right: 1px #ccc solid;
   border-top: 1px #ccc solid;
}

.dijitDialogUnderlay {
   opacity:0.3;
}


.dijitDialogPaneContent
{
   border-bottom: 3px #3B5984 solid;
   border-left: 3px #3B5984 solid;
   border-right: 3px #3B5984 solid;
   border-top: 3px #3B5984 solid;
   padding-bottom: 8px;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 8px;
   background: #fbffff;
}


.checklist {
   font: 12px Arial, Helvetica, sans-serif;
   color: #3B5984;
   display:block;
   vertical-align: top;
   padding-left:15px;
   line-height: 20px;
   background:url('../../../publico/imagenes/plus_ar.gif') no-repeat 2px 0;
}
.checklistdisabled {
   font: 12px Arial, Helvetica, sans-serif;
   color: gray;
   display:block;
   vertical-align: top;
   padding-left:15px;
   line-height: 20px;
   text-decoration: line-through;
   background:url('../../../publico/imagenes/plus_ar.gif') no-repeat 2px 0;
}
.checklistchild
{
   font: 12px Arial, Helvetica, sans-serif;
   color: #3B5984;
   display:block;
   padding-left: 33px;
   vertical-align: top;
   line-height: 17px;
   background:url('../../../publico/imagenes/line3.gif') no-repeat 18px 0;
}

.checklistchildlast
{
   font: 12px Arial, Helvetica, sans-serif;
   color: #3B5984;
   display:block;
   padding-left: 33px;
   vertical-align: middle;
   line-height: 17px;
   background:url('../../../publico/imagenes/line2.gif') no-repeat 18px 0;
}

.checklistdiv {
   vertical-align:top;
   overflow:auto;
   width:700px;
   height:200px;
   border:1px gray dotted;
}
.printButton {
   width:24px;
   height:24px;
   display:block;
   background-image:url(../../../publico/imagenes/print.png);
}

.printButton:hover {
   background-image:url(../../../publico/imagenes/print_over.png);
}

.divCabecera {
   background-color:#CCC;
   width: 100%;
   color: #666;
   font: 12px Arial, Helvetica, sans-serif;
   margin-top: 4px;
   padding: 4px 4px 4px 4px;
}

.marcoContenido {
   overflow:auto;
   height:430px;
}