	body{

		/*background-image:url('../../images/heading3.gif');

		padding-top:80px;*/

		background-repeat:no-repeat;
	}

	img {
		border:0px;
	}

	#dhtmlgoodies_slideshow{
		/*width:720px;	 Total width of slideshow */
	}

	

	#previewPane{
		border:0px solid #000;
		margin-right:10px;	
		/*vertical-align:middle;*/
		padding-top:3px;
		/* CSS HACK */
		_height:330px;
		#height:330px;

		/*height: 334px;	 IE 5.x */
		height/* */:/**/337px;	/* Other browsers */
		height: /**/337px;

		width:450px;
		_width:450px;
		#width:450px;
		/*float:left;*/
		background-color:#F2F2F2;
	}

	#waitMessage{
		display:none;
		position:relative;
		left:270x;
		top:-17px;
		background-color:#E6E6E6;
		border:0px solid #4D4D4D;
		padding:4px;
		color:#B30000;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;	
	}

	

	#galleryContainer{	/* Big Div surrounding up image, list of images and down image */
		/*float:left;	/* Floating */
		/* CSS HACK */
		height: 3px;	/* IE 5.x - 120 px + 2 px for borders and 2px for padding*/
		height/* */:/**/3px;	/* Other browsers */
		height: /**/3px;
		/* CSS HACK */
		width: 100px;	/* IE 5.x - 120 px + 2 px for borders and 2px for padding*/
		width/* */:/**/96px;	/* Other browsers */
		width: /**/96px;
		border:0px solid #000;	/* Black border */		
		padding:1px;	/* A little space between the black border and the content inside */
		/*background-color:#FFFFFF;*/
	}

	#galleryContainer #arrow_down{	/* Arrow down image */
		height:25px;
	}

	#galleryContainer #arrow_up{
		height:25px;	/* Arrow up image */
	}

	#theImages{	/* DIV where the images are located */
		position:relative;
		overflow:hidden;
		height:275px;	/* Height of boxes for the images */
		/*background-color:#EBEBEB;*/
		background-image:url(/images/bg_gal.jpg);
		background-repeat:no-repeat;
		background-position:center;
		padding-left:5px;
	}

	#theImages div{
		position:relative;	/* Don't change this */
		height:1500px;	/* Higher than total height of thumbnails */
	}

	#theImages img{
		filter:alpha(opacity=85);	/* Transparency - IE */
		opacity:0.85;  /*Transparency - Firefox */
		padding-top:0px;	/* Space between images */
		margin:2px;	/* Space between images */
		border: 2px solid #666666;
	}

	#previewPane #largeImageCaption{	/* CSS styling of image caption below large image */
		font-style:italic;
		text-align:left;
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;	/* Font to use */
		font-size:0.9em;
	}

	#theImages .imageCaption{
		display:none;
	}