	td img 
	{
		display: block;
	}
	
	body 
	{/*
		background-image: url(/img/bg3.png);
		background-position: center top;
		background-color: #FF0000;
		font-family: Verdana, Helvetica, Arial, sans-serif;
		font-size: 11px;
		color:#666666;*/
	}
	
	.menutitle
	{
		text-align:right;
		padding:2px 5px;
	}
	
	.f10bold
	{
		font-family: Verdana, Helvetica, Arial, sans-serif;
		font-size: 10px;
		color:#666666;
		
	}

	.menutitle1
	{
		cursor:pointer;
		margin-top: 3px;
		color:#666666;
		font-size: 11px;
		text-align:right;
		font-weight:bold;
		padding:2px 12px;
		text-decoration:none
	}
	
	.menutitle1:hover
	{
		cursor:pointer;
		margin-top: 3px;
		color:#666666;
		background-image:url(../img/bullet.PNG);
		background-repeat:no-repeat;
		background-position:right;
		font-size: 11px;
		text-align:right;
		font-weight:bold;
		padding:2px 12px;
	}
	
	.menutitle2
	{
		cursor:pointer;
		margin-top: 3px;
		color:#666666;
		font-size: 11px;
		text-align:right;
		font-weight:bold;
		padding:2px 12px;
		text-decoration:none
	}
	
	.menutitle2:hover
	{
		cursor:pointer;
		margin-top: 3px;
		color:#666666;
		font-size: 11px;
		text-align:right;
		font-weight:bold;
		padding:2px 12px;
	}
	
	.submenu2
	{
		/*
		margin-bottom: -45;
		*/
		
		text-align:right;
		margin-right:9px;
		border-right: 3px solid #666666;		
		padding:2px 10px;		
	}
	
	
	.link1:link 
	{
		font-size: 10px; 
		color:#333333; 
		font-style: normal;
		font-family: verdana, sans-serif; 
		text-decoration: none;
		
	}



	.link1:visited 
	{
		font-size: 10px; 
		color:#333333; 
		font-style: normal; 
		font-family: verdana, sans-serif; 
		text-decoration: none;
		text-align:center
	}

	.link1:hover 
	{
		font-size: 10px; 
		color:#B70F0F;
		font-style: normal; 
		font-family: verdana, sans-serif;
		text-align:center
	}

	.link2:link 
	{
		font-size: 10px; 
		color:#333333; 
		font-style: normal;
		font-family: verdana, sans-serif; 
		text-decoration: none;
	
}

	.link2:active 
	{
		font-size: 10px; 
		color:#ff6600; 
		font-style: normal; 
		font-family: verdana, sans-serif; 
		text-decoration: none;
		text-align:center
	}

	.link2:visited 
	{
		font-size: 10px; 
		color:#BC1F1F; 
		font-style: normal; 
		font-family: verdana, sans-serif; 
		text-decoration: none;
		text-align:center
	}

	.link2:hover 
	{
		font-size: 10px; 
		color:#B70F0F;
		font-style: normal; 
		font-family: verdana, sans-serif;
		text-align:center;
		background-image:url(bullet.PNG)
	}

	.header
	{	/*
		font-size: 9px; 
		font-family: verdana, sans-serif;
		color:#333333; */
	}


	
	.busqueda:link, .busqueda:visited {
		font-family: verdana, sans-serif;
		text-decoration:none;
		font-size:10px;
		color:#666666;
		padding:1px;
	}
	.busqueda:hover{
		font-family: verdana, sans-serif;
		text-decoration:none;
		font-size:10px;
		color:#B30000;
		background-color:#F2F2F2;
	}
	.search_boxx
	{
		font-weight:bold;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#4D4D4D;
		background-image:url(/images/search_cabecera.jpg);
		background-repeat:no-repeat;
		background-position: center bottom;
		background-color:#E6E6E6;
		vertical-align:top;
	}
	.input_box{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#999999;
		border:2px solid #E6E6E6;
		height:18px;
		vertical-align:top;
		margin-bottom:2px;
	}

.calendario_caja{
		width:80px;
		height:35px;
		border: 1px solid #D2D2D2;
	}

.calendario_dia {
		float:left;
		background-color:#E6E6E6;
		font-family:arial;
		font-size:14px;
		font-weight:bold;
		color:#B30000;
		padding-top:5px;
		
		height:30px;
		#height: 35px; /*Para Internet Explorer */
   		_height: 35px; /* Para Internet Explorer 6 */		

		width:40px;
		_width:39px;
		#width:39px;
	}
	
.calendario_caja_color {
		position:relative;
		float:right;
		background-color:#FFFFFF;
		/*padding-top:5px; */
		
		height:35px;
		/*#height: 35px; Para Internet Explorer */
   		/*_height: 35px;  Para Internet Explorer 6 */

		width:40px;
		_width:39px;
		#width:39px;
	}
	
.calendario_vinc:link, .calendario_vinc:visited	{	
		position:relative;
		float:right;
		height:35px;	
		width:40px;
		_width:39px;
		#width:39px;
		color:#B30000;	
		background-color:#B30000;
	}
.calendario_vinc:hover {
		height:35px;
		width:40px;
		_width:39px;
		#width:39px;
		color:#CCCCCC;
		background-color:#CCCCCC;
	}
.calendario_semana {
		font: bold 12px Arial, Helvetica, sans-serif;
		background-color:#B30000;
		color: #FFFFFF;
		text-align:center;
		padding:4px;
}
.calendario_back {
		background-image: url(/images/bg_popup.jpg);
		background-repeat:no-repeat;
		background-attachment:fixed;
}

<!--//////////////////////////////////////////////////////////////////////////////////-->


#menuh {	
	margin-left: 10px;
	margin-bottom: 10px;
}

#menuh ul, li {
	list-style-type: none;
}

#menuh ul {
	margin: 0;
	padding: 0;
	width:150px;
	border:0px solid red;
}

#menuh li {
	/*float: left;*/
}

#menuh a {
	
	font: bold 11px Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #FFFFFF;
	background: #B30000;
	display: block;
	margin-right: 7px;
	text-align: left;
	padding:3px;
	border-bottom:2px solid #EF1C27;
}

#menuh a:hover {
	background-color:#C54B53;
}
.discursotitle2
	{
	cursor:pointer;
	margin-top: 3px;
	color:#FFFFFF;
	font-size: 12px;
	font-weight:bold;
	padding:2px 8px;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	background-color: #CC0000;
	border: 1px solid #333333;
	}
	
	.discursotitle2:hover
	{
	cursor:pointer;
	margin-top: 3px;
	color:#CC0000;
	font-size: 12px;
	font-weight:bold;
	padding:2px 8px;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	background-color: #FFFFFF;
	border: 1px solid #333333;
	}


