/* CSS Document */

.paginationstyle{ /*Style for demo pagination divs*/

/*font: normal 70% "Trebuchet MS", Arial, Helvetica, sans-serif;
text-align:center;
margin-bottom:7px;
line-height:30px;
*/
margin-top:2px;
}

.paginationstyle b{ /*Style for demo pagination divs' select menu*/
border: 1px solid #000000;
padding: 2px 4px 0px 4px;
font-weight:bold;
/*margin-right:3px;*/
background-color:#FFFFCC;
}

.paginationstyle select{ /*Style for demo pagination divs' select menu*/
border: 1px solid #000000;
padding: 2px 4px 0px 4px;
}

.paginationstyle a{ /*Pagination links style*/
border:1px solid #666666;
text-decoration: none;
padding: 2px 4px 0px 4px;
color: #ffffff;
background-color: #666666;
}

.paginationstyle a:hover, .paginationstyle a.selected{
border:1px solid #666666;
color: #ffffff;
background-color: #999999;
padding: 2px 4px 0px 4px;
text-decoration:none;
/*border-bottom: 5px solid orange;*/
}
